@page
@model IndexModel
@{
    ViewData["Title"] = "TodoList";
}

<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center my-4">
        <h1 class="display-4 px-2">TodoList</h1>
        <form method="post">
            <button type="submit" class="btn btn-primary rounded-circle p-0" style="width: 25px; height: 25px; font-size: 15px;" asp-page-handler="AddTask">
                @(Model.DisplayAddTask ? "-" : "+")
            </button>
        </form>
    </div>

    @if (Model.DisplayAddTask)
    {
        <form id="todolist" class="col-6 container">
            <div class="row">
                <div class="form-group col">
                    <label for="inputTask">Task</label>
                    <input type="text" class="form-control" id="inputTask">
                </div>
                <div class="form-group col">
                    <label for="inputDeadline">Deadline</label>
                    <input type="date" class="form-control" id="inputDeadline">
                </div>
            </div>
            <div class="container" style="max-width: 400px;">
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Add Task" class="btn btn-primary my-3" />
                    </div>
                </div>
            </div>
        </form>
    }

    <form id="content" class="my-5 container border rounded">
        @for (var i = 1; i < 21; i += 2)
        {
            int remainingDays = Model.GetRemainingDays(i);
            string textColor = remainingDays > 10 ? "green" : remainingDays > 5 ? "orange" : "red";

            <div class="row border-bottom mx-3 align-items-center">
                <div id="task" class="col my-3 col">
                    <div class="border-end pe-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis sapien nunc, commodo et</div>
                </div>
                <div id="deadline" class="col my-3 mx-3 col-lg-auto" style="color: @textColor">
                    <div>@DateTime.Now.AddDays(i)</div>
                </div>
                <div id="submit" class="col my-3 col-lg-2">
                    <input class="btn btn-outline-primary" type="submit" value="&#x2714;" />
                </div>
            </div>
        }
    </form>
</div>



