@page "{handler?}"
@model IndexModel
@using TodoList.Models;
@{
    ViewData["Title"] = "TodoList";
}

<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center my-4">
        <h1 class="display-4 px-2">TodoList</h1>
        <form method="post">
            <button type="submit" class="btn btn-primary rounded-circle p-0" style="width: 25px; height: 25px; font-size: 15px;" asp-page-handler="AddTask">
                @(Model.DisplayAddTask ? "-" : "+")
            </button>
        </form>
    </div>

    @if (Model.DisplayAddTask)
    {
        <form id="todolist" method="post" class="col-6 container">
            <div class="row">
                <div class="form-group col">
                    <label for="inputTask">Task</label>
                    <input type="text" class="form-control" id="inputTask" name="Text">
                </div>
                <div class="form-group col">
                    <label for="inputDeadline">Deadline</label>
                    <input type="date" class="form-control" id="inputDeadline" name="Deadline">
                </div>
            </div>
            <div class="container" style="max-width: 400px;">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary my-3" asp-page-handler="AddElement">Add</button>
                    </div>
                </div>
            </div>
        </form>
    }

    <div class="border rounded">
    @{
        var orderedTasks = Model.taskItems.OrderByDescending(x => x.Task.Deadline);
    }
        @foreach (var task in orderedTasks)
    {
        await Html.RenderPartialAsync("_TaskPartial", task);
    }
    </div>
</div>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
}



